.login-icon{
 margin-right :5px;
 padding-top: 4px;
}
.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
  list-style: none;
}
.menu-list li{
  padding: 10px;
  cursor: pointer;
}
.menu-area{
  display: flex;
  justify-content: center;
}
.search-area{
  margin-left: 50px;
  position: relative;
}
#search-input{
  border:none;
  padding-left: 30px;
  outline: none;
  border-bottom: 1px solid #000;
}
#search-input::placeholder{
  padding: 20px;
  font-size: 16px;
}
#search-input:focus::placeholder{
  opacity: 0;
}
.search-icon{
  position: absolute;
  top: 5px;
}
.col-lg-3 img{
  width: 250px;
}